[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
lxml = "*"
html5lib = "*"
beautifulsoup4 = "*"
yfinance = "*"
matplotlib = "*"
jinja2 = "*"
ipykernel = "*"
requests = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
